@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');



body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
    background-attachment: fixed;
}
td{
    padding: 5px;
}
.welcomeLogo{
  margin-top: 15px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Alfa Slab One', cursive;
  color:rgb(61, 84, 83);
}
.alignTable{
    margin-left: 75px;
}
.lblFont{
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: medium;
    color: rgb(56, 92, 104);
}
.loginContainer{
  position: absolute;
  margin-left: 550px;
  margin-top: 90px;
  width: 450px;
  height: 450px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
.loginContainer:before{
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

  #btnReg{
    background-color: rgba(4,109,120,255);
    color: beige;
    transition-duration: 0.4s;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 800;
  }

  #btnReg:hover{
    background-color: rgba(198, 229, 229, 0.751);
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  input{
    border: none;
    border-bottom: 2px solid rgb(4, 67, 67);
    background-color: rgba(255, 255, 255, 0.307);
    border-radius: 5px;
    padding: 8px;
    font-size: medium;
  }
  input:hover{
    transition-duration: 0.4s;
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }